$text-align: center;

.container {
  text-align: $text-align;
  padding-top: 50px;
  max-width: 300px;
}

input{
  text-align: $text-align;
  border: 5px solid;
  padding: 13px 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}

ul{
  margin-left: 20px;
  text-align: left;
}